<li class="clear prefList">
    <form>
        <div class="oneQuarter left prefDisplay searchable" >
            <div class="left prefID aside font10"><sup>{{__value__prop__}}</sup></div>
            <div class="left prefNew__label__title__prop__">{{__label__prop__}}&nbsp;</div>
        </div>
        
        <input type="hidden" name="__value__prop__" value="{{__value__prop__}}" />
        <input type="hidden" name="officeID" value="-1" />
        <input class="grayInput oneQuarter left prefEditable" value="{{__label__prop__}}" placeholder="__singular__title__pref__name__ __label__title__prop__" name="__label__prop__" required/>
        <input type="hidden" name="lastChangeUser" value="-1" />
        <input type="hidden" name="lastChangeDate" value="-1" />
        
        <input type="hidden" name="action" value="save" />

        <div class="right editButton prefButton">edit</div>
        <div class="right closeButton hide prefButton">close</div>
        <div class="right readOnlyWarning hide">Read Only</div>
        <div class="right saveButton hide prefButton">save</div>
        <div class="right cancelButton hide prefButton">cancel</div>
        <div class="clr"></div>

    </form>
        <div class="clr"></div>
    <div class="clr"></div>
</li>

